<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.kermeta.debug.compileConfiguration">
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_CLASSQNAME" value="transfos::Main"/>
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_FILENAME" value="/StateMachine/transfos/StateMachineJava.kmt"/>
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_OPERATIONNAME" value="main"/>
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_PROJECTNAME" value="StateMachine"/>
<stringAttribute key="org.kermeta.debug.DEFAULT_PATH" value="/StateMachine/transfos"/>
<stringAttribute key="process_factory_id" value="org.kermeta.debug.processFactory"/>
</launchConfiguration>
